body {
  font-family: Source Sans Pro;
}

.d-header .wrap {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.d-header {
  box-shadow: none;
  background: var(--header_background);
  border-bottom: 2px solid #73ba25;
}

.d-header {
  height: 56px;
}

.d-header .title a {
  display: inline-flex;
  align-items: center;
}

.d-header .btn {
  border-radius: 4px;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}
.d-header-icons {
  display: flex;
  align-items: center;
}

.d-header-icons li:not(.current-user) .icon, .d-header-icons li:not(.current-user) .icon:hover {
  padding: 0.25rem 0.25rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  width: auto;
  height: auto;
}

ul li#current-user {
  order: -1;
}

.d-header-icons li {
  margin-left: 10px;
}

.d-header-icons {
  margin-left: 5px;
  margin-right: 10px;
}

.d-header-icons .d-icon use {
  display: none;
}

.d-header-icons .d-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 20px;
  height: 20px;
}

.d-header-icons .d-icon.d-icon-search {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-search' fill='%23747577' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/%3E%3Cpath fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/%3E%3C/svg%3E");
}

.d-header-icons .d-icon.d-icon-bars {
  background-image: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='0 0 16 16' fill='%23747577' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'%3E%3C/path%3E%3C/svg%3E");
}

#toggle-megamenu {
  color: #747577
}

@media (prefers-color-scheme: dark) {
  .d-header-icons .d-icon.d-icon-search {
    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-search' fill='%239a9da0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/%3E%3Cpath fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/%3E%3C/svg%3E");
  }

  .d-header-icons .d-icon.d-icon-bars {
    background-image: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='0 0 16 16' fill='%239a9da0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'%3E%3C/path%3E%3C/svg%3E");
  }

  #toggle-megamenu {
    color: #9a9da0
  }
}
.megamenu {
  position: sticky;
  left: 0;
  right: 0;
  top: 58px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #173f4f;
  color: #e9ecef;
  z-index: 500;

  *, *::before, *::after {
    box-sizing: border-box;
  }

  &.collapse:not(.show) {
    display: none;
  }

  &.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  .row {
    padding-bottom: 16px;
  }

  .megamenu-heading {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  svg {
    vertical-align: -2.4px;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-lg-2, .col-md-4, .col-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .megamenu .offset-md-4 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .megamenu .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
