body {
  font-family: Source Sans Pro;
}

.d-header .wrap {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.d-header {
  box-shadow: none;
  background: var(--header_background);
  border-bottom: 2px solid #73ba25;
}

.d-header .title img#site-logo {
  display: none;
}

.d-header {
  height: 56px;
}

.d-header .title a {
  display: inline-flex;
  align-items: center;
}

.d-header .title a:before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' width='30' viewBox='0 0 256 256'%3E%3Cpath fill='%2373ba25' d='M 128.00087,4.2300079e-4 A 127.99878,127.99956 0 0 0 27.232793,49.316047 c 15.612384,4.171089 26.662572,7.755862 29.972032,8.867744 0.05186,-2.030511 0.388596,-20.191025 0.388596,-20.191025 0,0 0.04275,-0.415713 0.26458,-0.632459 0.285685,-0.278975 0.698663,-0.194732 0.698663,-0.194732 4.106296,0.594781 91.753966,13.586625 128.697926,35.115167 4.56242,2.669108 6.81439,5.506912 9.62826,8.383877 10.2124,10.562131 23.70655,54.480481 25.15585,63.537031 0.0569,0.35581 -0.38277,0.74232 -0.57052,0.88878 h -0.005 c -1.04923,0.81873 -2.19188,1.67005 -3.33619,2.43078 -8.74177,5.86505 -28.88074,19.96264 -54.71865,17.66099 -23.20902,-2.05317 -53.53113,-15.36632 -90.085622,-39.45179 3.594067,8.41499 7.135259,16.85602 10.678314,25.29239 5.293728,2.74954 56.388908,28.78593 81.606668,28.27729 20.31131,-0.42312 42.03457,-10.33014 50.72508,-15.56083 0,0 1.9098,-1.15061 2.74089,-0.50842 0.9091,0.70231 0.65759,1.77842 0.44234,2.87739 -0.53465,2.49469 -1.75184,7.04615 -2.57964,9.20662 l -0.69867,1.76106 c -0.99481,2.6653 -1.94967,5.14263 -3.79096,6.66832 -5.11952,4.65517 -13.29068,8.3589 -26.09425,13.9236 -19.79067,8.65714 -51.89918,14.16278 -81.71003,13.97334 -10.67721,-0.2377 -20.992622,-1.4224 -30.050579,-2.48051 -18.588898,-2.09867 -33.71384,-3.80131 -42.936515,2.86913 A 127.99878,127.99956 0 0 0 128.00077,256 127.99878,127.99956 0 0 0 256,128.00011 127.99878,127.99956 0 0 0 128.00077,0 Z M 156.55079,74.269555 c -10.01871,-0.319404 -19.57207,3.216053 -26.89627,10.054135 -7.32086,6.81543 -11.51029,16.10714 -11.88134,26.11936 -0.69215,20.65457 15.52409,38.05817 36.16075,38.81911 10.06422,0.33782 19.59686,-3.19997 26.92109,-10.07889 7.30222,-6.79427 11.49166,-16.08641 11.88134,-26.09862 0.70908,-20.63617 -15.52668,-38.076381 -36.18557,-38.815095 z M 156.2366,85.31598 c 14.43764,0.51223 25.74126,12.64068 25.25507,27.07419 -0.22288,6.96063 -3.15918,13.41305 -8.25986,18.19819 -5.10811,4.7629 -11.78435,7.23961 -18.7894,7.02794 -14.4042,-0.53128 -25.70818,-12.67392 -25.22198,-27.11123 0.21167,-6.98667 3.20621,-13.43973 8.28467,-18.20264 5.07826,-4.7629 11.72264,-7.23897 18.7315,-6.98645 z m 4.27876,13.12562 c -6.41489,0 -11.59607,3.45227 -11.59607,7.74739 0,4.25448 5.18118,7.72665 11.59607,7.72665 6.41111,0 11.61263,-3.47238 11.61263,-7.72665 0,-4.29512 -5.19792,-7.74739 -11.61263,-7.74739 z'/%3E%3C/svg%3E");
  margin-right: 8px;
  margin-left: 8px;
  display: flex;
}

.d-header .title a:after {
  content: 'Forums';
  font-size: 20px;
  margin-right: 14px;
}

.d-header .btn {
  border-radius: 4px;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}
.d-header-icons {
  display: flex;
  align-items: center;
}

.d-header-icons li:not(.current-user) .icon, .d-header-icons li:not(.current-user) .icon:hover {
  padding: 0.25rem 0.25rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  width: auto;
  height: auto;
}

ul li#current-user {
  order: -1;
}

.d-header-icons li {
  margin-left: 10px;
}

.d-header-icons {
  margin-left: 5px;
  margin-right: 10px;
}

.d-header-icons .d-icon use {
  display: none;
}

.d-header-icons .d-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 20px;
  height: 20px;
}

.d-header-icons .d-icon.d-icon-search {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-search' fill='%23747577' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/%3E%3Cpath fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/%3E%3C/svg%3E");
}

.d-header-icons .d-icon.d-icon-bars {
  background-image: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='0 0 16 16' fill='%23747577' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'%3E%3C/path%3E%3C/svg%3E");
}

#toggle-megamenu {
  color: #747577
}

@media (prefers-color-scheme: dark) {
  .d-header-icons .d-icon.d-icon-search {
    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-search' fill='%239a9da0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/%3E%3Cpath fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/%3E%3C/svg%3E");
  }

  .d-header-icons .d-icon.d-icon-bars {
    background-image: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='0 0 16 16' fill='%239a9da0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'%3E%3C/path%3E%3C/svg%3E");
  }

  #toggle-megamenu {
    color: #9a9da0
  }
}

#megamenu *, #megamenu *::before, #megamenu *::after {
  box-sizing: border-box;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.megamenu {
  position: sticky;
  left: 0;
  right: 0;
  top: 56px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 2px;
  background-color: #173f4f;
  color: #e9ecef;
  z-index: 1000;
}

.megamenu .row {
  padding-bottom: 16px;
}

.megamenu-heading {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 0;
}

.megamenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.megamenu a {
  color: inherit;
  text-decoration: none;
}

.megamenu svg {
  vertical-align: -2.4px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-2, .col-md-4, .col-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (min-width: 768px) {
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
