@media (prefers-color-scheme: dark) {
  :root {
   --scheme-type: dark;
   --primary: #adb5bd;
   --secondary: #212529;
   --tertiary: #21a4df;
   --quaternary: #173f4f;
   --header_background: #343a40;
   --header_primary: #fff;
   --highlight: #bb9d43;
   --danger: #dc3545;
   --success: #73ba25;
   --love: #fbc75d;
   --always-black-rgb: 0, 0, 0;
   --primary-rgb: 173,181,189;
   --primary-low-rgb: 35.51514,39.82,44.12486;
   --secondary-rgb: 33,37,41;
   --header_background-rgb: 52,58,64;
   --tertiary-rgb: 33,164,223;
   --primary-very-low: #1d2124;
   --primary-low: #24282c;
   --primary-low-mid: #59646e;
   --primary-medium: #697682;
   --primary-high: #7b8895;
   --primary-very-high: #99a3ad;
   --header_primary-low: #5f6265;
   --header_primary-low-mid: #9d9e9f;
   --header_primary-medium: #c0c1c2;
   --header_primary-high: #d7d8d8;
   --header_primary-very-high: #f2f3f3;
   --secondary-low: #b7bec5;
   --secondary-medium: #86929e;
   --secondary-high: #5b6671;
   --secondary-very-high: #2f343a;
   --tertiary-very-low: #082938;
   --tertiary-low: #0b394e;
   --tertiary-medium: #125a7b;
   --tertiary-high: #187ba8;
   --tertiary-hover: #4db6e5;
   --quaternary-low: #071318;
   --highlight-low: #251f0d;
   --highlight-medium: #54471e;
   --highlight-high: #a88d3c;
   --danger-low: #540f15;
   --danger-low-mid: rgba(93,16,23,0.7);
   --danger-medium: #971a26;
   --danger-hover: #ba202f;
   --success-low: #2e4a0f;
   --success-medium: #457016;
   --success-hover: #5c951e;
   --love-low: #865b03;
   --wiki: green;
   --blend-primary-secondary-5: #32363a;
   --primary-med-or-secondary-med: #86929e;
   --primary-med-or-secondary-high: #5b6671;
   --primary-high-or-secondary-low: #b7bec5;
   --primary-low-mid-or-secondary-high: #5b6671;
   --primary-low-mid-or-secondary-low: #b7bec5;
   --primary-or-primary-low-mid: #59646e;
   --highlight-low-or-medium: #54471e;
   --tertiary-or-tertiary-low: #0b394e;
   --tertiary-low-or-tertiary-high: #187ba8;
   --tertiary-med-or-tertiary: #21a4df;
   --secondary-or-primary: #adb5bd;
   --tertiary-or-white: #fff;
   --facebook-or-white: #fff;
   --twitter-or-white: #fff;
   --hljs-comment: #bba;
   --hljs-number: #aff;
   --hljs-string: #f99;
   --hljs-literal: #9ae;
   --hljs-tag: #99f;
   --hljs-attribute: #0ee;
   --hljs-symbol: #fbe;
   --hljs-bg: #333;
   --google: #fff;
   --google-hover: #f2f2f2;
   --instagram: #e1306c;
   --instagram-hover: #ac194b;
   --facebook: #1877f2;
   --facebook-hover: #0a54b3;
   --cas: #70ba61;
   --twitter: #1da1f2;
   --twitter-hover: #0c85d0;
   --github: #100e0f;
   --github-hover: #463e42;
   --discord: #7289da;
   --discord-hover: #4a67cf;
   --gold: #e7c300;
   --silver: silver;
   --bronze: #cd7f32
  }
}